body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    background-color: #161b22;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.left-side, .right-side {
    padding: 20px;
}

.left-side {
    background-color: #1c2026;
    text-align: center;
    flex: 1;
}

.left-side img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid #c9d1d9;
}

.left-side h1, .left-side h2 {
    margin: 0;
}

.left-side button {
    background-color: #21262d;
    color: #c9d1d9;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.left-side button:hover {
    background-color: #30363d;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.info p, .info a {
    margin: 5px 0;
}

.info a {
    text-decoration: none;
    color: #c9d1d9;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#name {
    margin-bottom: 0.5vh;
}

#username {
    font-size: 14px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.linkedin-icon {
    width: 10px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 0;
}

#connect-text {
    padding: 0;
    margin: 0;
}

.right-side {
    flex: 2;
}

.repositories h3 {
    margin-bottom: 20px;
}

#repo-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.repository {
    background-color: #21262d;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repository h4 {
    margin: 0;
}

.repository p {
    margin: 5px 0 0 0;
    color: #8b949e;
}

.repo-language {
    color: #8b949e;
    align-self: flex-end;
}
